<br />

<div class="container p-3">
  <div class="row height align-items-center">
    <div class="col text-center">
      <h1
        class="bg-dark text-white text-uppercase font-weight-bold font-italic"
      >
        <strong>About Us</strong>
      </h1>
      <div class="text-center">
        <p class="text-dark py-2 ">
          I am well-organized, known for the thorough and methodical approach
          that I take when researching and planning. An excellent team-player,
          able to listen, negotiates and communicates persuasively and
          encouragingly with people.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Skills Section -->
<section id="skills" class="py-5 bg-white">
  <div class="container">
    <!-- title -->
    <div class="row bg-dark py-3">
      <div class="col text-center">
        <h2 class="text-light bm-0 text-uppercase">Technologies Used</h2>
        <div class="title-underline bg-danger"></div>
        <p class="mt-2 text-capitalize text-light">
          Here are the Technologies I used to create this amazing blog Website
        </p>
      </div>
    </div>
    <!-- end od title -->
    <div class="row">
      <!-- single col -->
      <div class="col-md-6 col-lg-3 text-center my-4">
        <h3 class="text-uppercase my-3">Angular</h3>
        <p class="text-muted">
          Angular is a TypeScript-based open-source web application framework
          led by the Angular Team at Google and by a community of individuals
          and corporations. Angular is a complete rewrite from the same team
          that built AngularJS.
        </p>
        <a href="#" class="btn btn-outline-danger btn-block text-uppercase"
          >Learn More</a
        >
      </div>
      <!-- end of single col -->

      <!-- single col -->
      <div class="col-md-6 col-lg-3 text-center my-4">
        <h3 class="text-uppercase my-3">HTML</h3>
        <p class="text-muted">
          Hypertext Markup Language is the standard markup language for
          documents designed to be displayed in a web browser. It can be
          assisted by technologies such as Cascading Style Sheets and scripting
          languages such as JavaScript
        </p>
        <a href="#" class="btn btn-outline-danger btn-block text-uppercase"
          >Learn More</a
        >
      </div>
      <!-- end of single col -->

      <!-- single col -->
      <div class="col-md-6 col-lg-3 text-center my-4">
        <h3 class="text-uppercase my-3">CSS</h3>
        <p class="text-muted">
          Cascading Style Sheets is a style sheet language used for describing
          the presentation of a document written in a markup language such as
          HTML. CSS is a cornerstone technology of the World Wide Web, alongside
          HTML and JavaScript
        </p>
        <a href="#" class="btn btn-outline-danger btn-block text-uppercase"
          >Learn More</a
        >
      </div>
      <!-- end of single col -->

      <!-- single col -->
      <div class="col-md-6 col-lg-3 text-center my-4">
        <h3 class="text-uppercase my-3">Bootstrap</h3>
        <p class="text-muted">
          Bootstrap is a free and open-source CSS framework directed at
          responsive, mobile-first front-end web development. It contains CSS-
          and JavaScript-based design templates for typography, forms, buttons,
          navigation, components.
        </p>
        <a href="#" class="btn btn-outline-danger btn-block text-uppercase"
          >Learn More</a
        >
      </div>
      <!-- end of single col -->
    </div>
  </div>
</section>

<!-- end of skills section -->

<div class="container bg-dark p-3">
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      <h2 class="text-white">My First Blog Website</h2>
      <p class="lead text-white">
        This is my first blog application created using Angular, Bootstrap, Html
        and Css. I learnt a lot while creating this and it enjoyed it.
      </p>
      <a href="http://localhost:4200/blogs" class="btn btn-lg btn-primary m-2"
        >Explore Blogs</a
      >
    </div>
  </div>
</div>

<br />

<br />
