<br />
<h3 class="bg-dark mb-2 p-3 mb-5 text-light text-center">
  Feedback / Contact Us
</h3>
<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <form
      class="col-lg-6"
      style="border: 5px solid rgb(104, 104, 104); padding: 10px"
    >
      <div class="form-row">
        <div class="col-lg-12 mb-3">
          <label for="validationServer01">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Name"
            required
            name="name"
            ngModel
          />
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-12 mb-3">
          <label for="validationServer01">Email</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter Email"
            required
            name="blog_sub_title"
            ngModel
          />
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-12 mb-3">
          <label for="validationServer01">Mobile No.</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter Mobile No."
            required
            name="phone"
            ngModel
          />
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="validationServer01">message</label>
          <textarea
            type="text"
            class="form-control"
            rows="2"
            cols="25"
            placeholder="Enter Blog Description"
            required
            name="message"
            ngModel
          >
          </textarea>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Send</button>
    </form>
    <div class="col-lg-3"></div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <p>
            To effectively communicate, we must realize that we are all
            different in the way we perceive the world and use this
            understanding as a guide to our communication with others.
          </p>
        </div>
        <div class="row" data-aos="fade-in">
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form>
              <img
                class="img-fluid"
                src="https://sidharthatri.netlify.app/assets//img/map.png"
                alt=""
              />
            </form>
            <br />
            <br />
          </div>
          <div class="col-lg-5">
            <div class="info p-5 bg-dark text-white">
              <div class="address">
                <h4>Location:</h4>
                <p>55, Abc, Sonipat, Haryana</p>
              </div>
              <div class="email">
                <h4>Email:</h4>
                <p>sidharthatri@gmail.com</p>
              </div>
              <div class="phone">
                <h4>Call:</h4>
                <p>+91 7777888866</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->
    <br /><br /><br />
  </div>
</div>
